span.playedPatternTitle {
    font-size: 2.5em;
    color: #FFF;
    font-weight: bold;
}
span.noteHistory {
    font-size: 2em;
    letter-spacing: 5px;
    color: #FFF;
    font-weight: bold;
}
span.lastNote {
    font-size: 2em;
    color: #FFE9AA;
    font-weight: bold;
    letter-spacing: 5px;
}
span.upcoming-notes, span.played-notes {
    font-size: 2em;
    color: #AAA;
    font-weight: bold;
    letter-spacing: 5px;
}

span.currentNote {
    font-size: 2em;
    color: #AAA;
    font-weight: bold;
}
