.title-row {
  background-color: #708FA3;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 2px;
  border-radius: 6px;
  text-align: center;
  color: yellow;
}
