.title-row {
  background-color: #1a3c62;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 6px;
  text-align: center;
  color: #d2e8f6;
  margin-bottom: 1em;
}
