@import '../../../../../variables';

.panel {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #ffffff;
  background-color: #000000;

  .scoring {

  }
  .monitor {

  }

}