// importing Bootstrap, version 3
// @import 'variables';
// @import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
// @import 'assets/fonts/Rock_Salt/RockSalt.ttf';

body{
  background-color: #114466;
  margin: 0;
  padding: 0;
}
#nav{
  background-color: #aaddee;
  height: 40px;
  width: 100%;
}
h1{
  text-align: center;
}
h1, h2, h3, p{
  font-family: futura;
}
h3{
  font-weight: 100;
}
img{
  max-width: 200px;
}
#content-container{
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 900px;
}
#game-play-container{
  width: 700px;
  margin: 0 auto;
}
#info-bar{
  background-color: #000066;
}
#score{
  margin-right: 420px;
  padding-left: 10px;
}
#score, #timer{
  color: #c837cd;
}
#timer{
  border: yellow solid 2px;
  padding:4px;
}
#info-bar, #input-container, #pattern-container{
  display: flex;
}
#input-container, #pattern-container{
  background-color: #fff;
}
#divider{
  background-color: #000;
  height: 4px;
}
.user{
  padding-left: 20px;
  width: 150px;
}
#sidebar{
  background-color: #fff;
  height: 380px;
  margin-left: 10px;
  text-align: center;
}
#level-info{
  background-color: #337799;
  border: solid 2px #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 100;
  margin: 0 auto;
  margin-top: 12px;
  padding: 12px;
  padding-top: 5px;
  text-align: center;
  width: 500px;
  font-size: 1.3em;
}
